body
{
	background-color: #f9f9f9;
	font-family: 'Merriweather', serif;
}

.navbarColor
{
	background-color: #6b71e8;
}

#mainmenu a
{
	color: #f9f9f9;
	border: 1px solid #6b71e8;
	border-radius: 5px;
	background-color: #6b71e8;
}

#mainmenu > ul > li a:hover
{
	color: #6b71e8;
	transition: all 0.5s ease-in-out;
	background-color: #f9f9f9;
	border: 1px solid #f9f9f9;
	border-radius: 5px;

}

.navbar
{
	padding: 0px;
}

.navbar-brand
{
	font-family: 'Staatliches', cursive;
	color: #f9f9f9;
	font-size: 30px;
}

.navbar .navbar-brand:hover
{
	color: #6b71e8;
	transition: all 0.5s ease-in-out;
	background-color: #f9f9f9;
}


.container-content
{
	text-align: center;
	margin-top: 50px;

}

.container-content h1
{
	font-family: 'Merriweather', serif;
	color: #f9f9f9;
	font-size: 60px;
	margin-top: 20px;
}

.container-content a
{
	display: inline-block;
	text-decoration: none;
	color: #f9f9f9;
	font-family: 'Merriweather', serif;
	font-size: 24px;
	border: 2px solid white;
	padding: 14px 70px;
	border-radius: 50px;
	margin-top: 50px;
}

.container-content a:hover
{
	color: #f9f9f9;
	border: 5px solid white;
	padding: 14px 70px;
	border-radius: 50px;
	transition: all 1s ease-in-out;
	font-size: 30px;
}

.backvideo
{
	position: absolute;
	z-index: -1;
	width: 100%;
}


.pos
{
	height: 58vw;
}

.h1
{
	color: #6b71e8;
}

.textJustify
{
	text-align: justify; !important
}
.more a,
.card-body a
{
	text-decoration: none;
	color: #6b71e8;
	text-transform: uppercase;
}
.more a:hover
{
	font-weight: bolder;
}

h1
{
	color: #f9f9f9;
}

.card-title
{
	color: #6b71e8; !important
}

.round
{
	border: 2px solid #6b71e8;
	border-radius: 50%;
	width: 10vw;
	height: 10vw;
}

.person-card
{
	background-color: #6b71e8;
	z-index: -1;
	height: 10vw;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	text-align: center;
	padding-top: 2vw;
}

.person-name
{
	color: #f9f9f9;
	text-transform: uppercase;
}

.job
{
	color: #f9f9f9;
	font-size: 12px;
	text-align: center;
}

.job a
{
	color: #f9f9f9;
	text-decoration: none;
}

.company-adress
{
	font-size: 16px;
	color: #f9f9f9;
}

.company-logo-footer
{
	font-family: 'Staatliches', cursive;
	color: #f9f9f9;
	font-size: 30px;
}

.open
{
	font-size: 16px;
	color: #f9f9f9;
	text-transform: uppercase;
}

.social a
{
	font-size: 60px;
	color: #f9f9f9;
}

.social a
{
	color: #f9f9f9;
	border: 1px solid #6b71e8;
	border-radius: 5px;
	background-color: #6b71e8;
}

.social a:hover
{
	color: #6b71e8;
	transition: all 0.5s ease-in-out;
	background-color: #f9f9f9;
	border: 1px solid #f9f9f9;
	border-radius: 5px;
}
.foot
{
	color: #6b71e8;
	text-transform: uppercase;
	font-size: 12px;
}
.foot a
{
	text-decoration: none;
	font-weight: bold;
}
#imgmenu
{
	width: 100%;
}
.imgmenuoption
{
	display: block;
	float: left;
	width: 33%;
	margin-right: auto;
	margin-left: auto;
}
.imgmenuoption a
{
	text-decoration: none;
	color: #6b71e8;
	font-weight: 700;
}
.imgmenuoptiontxt 
{
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	position: relative;
	top: 12vw;
	left: 12vw;
	letter-spacing: 5px;
	font-family: 'Staatliches';
}
.imgmenuoption img
{
	width: 100%;
	z-index: -1;
	opacity: 0.3;
}

.imgmenuoption img:hover
{
	opacity: 0.1;
	transition: all 0.5s ease-in-out;
}
.number
{
	font-family: 'Staatliches';
	font-size: 10vw;
	color: #f9f9f9;
	line-height: 80%;
}
.info
{
	text-transform: uppercase;
	font-size: 15px;
	color: #f9f9f9;
	font-family: 'Staatliches';
	letter-spacing: 2px;

}
.portfoliotxt
{
	color: #f9f9f9;
}
.portfoliotxt a
{
	text-decoration: none;
	color: #f9f9f9;
}
.portfoliotxt a:hover
{
	font-weight: bolder;
}
.portfoliolink a
{
	text-decoration: none;
}
.portfoliolink a:hover
{
	font-weight: bolder;
}
.portfolioimg
{
	text-align: right;
}
.portfolioimg img
{
	max-height: 400px;
}
.imghidden
{
	display: none;
}
.contactcard
{
	background-color: #6b71e8;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 200px;
	border-bottom-left-radius: 200px;
}

@media (max-width: 768px)
{

	.container-content h1
	{
		font-size: 25px;
	}
	.imgmenuoptiontxt
	{
		font-size: 10px;
	} 
	.imgmenuoptiontxt 
	{
		position: relative;
		top: 12vw;
		left: 9vw;
	}
	.portfolioimg
	{
		text-align: center;
	}
	#karuzela
	{
		display: none;

	}
	.imghidden
	{
		display: block;
		text-align: center;
	}
	.imghidden img
	{
		height: 400px;
	}
	.apartmentsphoto
	{
		display: none;
	}


}

@media (max-width: 575px)
{
	.nav-link
	{
		font-size: 12px;
	} 



}

@media (max-width:  1200px)
{
		.personal-card
	{
		margin-bottom: 2vh;
		padding-left: 10vw;
	}

	.round
{
	width: 25vw;
	height: 25vw;
}
	.person-card
	{
		height: 20vw;
		margin-top: 2vw;
		padding-top: 1vw;
	}

	.aboutusimg
	{
		display: none;
	}

	.contactcard
	{
		width: 80%;
	}


}




